body{
    background: url(./assets/japan.jpg);
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    font-family: Helvetica, Arial;

}

a{
    text-decoration: none;
    color: white;
}


#global{
    margin: 0px auto;
    width: 90%;
    margin-top: 30px;
    background-color: white;

    padding: 25px;
    box-shadow: 0px 0px 2px #ccc;
    height: auto;
}
header{
    display: flex;
    background-color: rgb(17, 70, 138);
    flex-direction: row;
    height: 150px;
    justify-content: space-around;
   opacity: 0.9;
  
}

#logo{
    font-size: 35px;
    font-family: Verdana, Arial;
    letter-spacing: 4px;
    width: 400px;
    text-align: center;
    height: 80px;
    color: white;
    margin-bottom: 20px;
    line-height: 80px;
    text-transform: capitalize;
    width: 45%;
    margin-right: 25px;
    margin-top: 25px;
    
}

#logo:hover{
    animation: logoin 2s backwards;
    cursor: pointer;
    
}

@keyframes logoin{
    0% {
        font-size: 35px;
    }
    
    100% {
        font-size: 55px;
    }

}







#nav-arriba{
    display: flex;
    flex-direction: column;
    width: 55%;
    margin-top: 15px;
    color: #ccc;
    position: sticky;  
 
    background-color: rgb(17, 70, 138);

    
}

.nav1{
    font-family: Helvetica, Arial;
    margin-bottom: 35px;
    font-size: 25px;
    margin-left: 455px;
    width: 110px;
    
    transition: all 300ms;
    color: white;
    text-align: center;
}

.nav1:hover{
    box-shadow: 1px 1px 1px 1px ;
    cursor: pointer;
    background-color: rgb(79, 119, 171);
    border-radius: 10%;
 
}

.nav1:visited, .nav2:visited{
    color: white;
}

#nav{
    background-color: rgb(17, 70, 138);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50px;
    color: white;
    top:0%;
    position: sticky;
    height: 45px;
    padding-top: 8px;

}

.nav2{
    font-size: 25px;
    padding-top: 5px;
    font-family: Helvetica, Arial;
    letter-spacing: 2px;
    transition: all 1s ease-in ;
    
}

.nav2:hover{
    cursor: pointer;
    text-decoration: underline;
    color: white;
}

#container{
    display: flex;
    flex-direction: row;
}

#articulos{
    width: 70%;
    margin-right: 20px;
}

.article{
  
    margin-top: 15px;
    padding: 5px;
    background-color: #ccc;
}



.article h2 a{
    font-family: Helvetica, Arial;
    font-size: 30px;
    padding: 0;
    cursor: pointer;
    transition: all 500ms;
    width:90% ;
    padding-left: 10px;
    color: rgb(41, 41, 41);
}

.article h2:hover{
    color: rgb(41, 41, 41);
    text-shadow: 1px 1px #2d2d2d;
    letter-spacing: 3px;

}



.article p{
    font-family: Helvetica, Arial;
    font-size: 15px;
    padding-left: 10px;
}

.article span{
    font-size: 17px;
    color: black;
    font-style: oblique;
    cursor: pointer;
    padding-bottom: 15px;
  
}


#sidebar{
    width: 30%;
}

footer{
    font-family: Helvetica,Arial;
    height: 47px;
    color: white;
    background: rgba(51, 51, 51, 0.8);
    margin: 0px auto;
    width: 75%;
    margin-top: 19px;
    text-align: center;
    padding-top: 15px;
    line-height: 30px;
}

#theme-selector{
    width: 35px;
    height: 75px;
    background: rgba(51, 51, 51, 0.8);
    left: 0%;
    top: 50%;
    position: fixed;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}



#green, #red, #black{
    width: 28px;
    height: 45px;
    border: 1px solid white;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;

}

#green{
    background-color: rgb(85, 229, 85);
    cursor: pointer;
}

#red{
    background-color: rgb(235, 94, 94);
    cursor: pointer;

}

#black{
    background-color: black;
    cursor: pointer;

}

.foto-aside{
    width: 100%;
  
    height: 300px;
}

.quiensoy{
    text-align: center;
    margin-left: 125px;
    font-size: 22px;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box a:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}









/*FORMULARIO source:https://codepen.io/ainalem/pen/GRqPwoz  */



  
