body{
    background: url(./assets/japan.jpg);
    background-attachment: fixed;

}

#global{
    margin: 0px auto;
    width: 95%;
    margin-top: 30px;
    background-color: white;
    padding: 25px;
    box-shadow: 0px 0px 2px #ccc;
    height: auto;
}
header{
    display: flex;
    background-color: rgb(17, 70, 138);
    flex-direction: row;
    height: 150px;
    justify-content: space-around;
    position: sticky;
}

#logo{
    font-size: 35px;
    font-family: Verdana, Arial;
    letter-spacing: 4px;
    width: 400px;
    text-align: center;
    height: 80px;
    color: white;
    margin-bottom: 20px;
    line-height: 80px;
    text-transform: capitalize;
    width: 45%;
    margin-right: 25px;
}

#nav-arriba{
    display: flex;
    flex-direction: column;
    width: 55%;
    margin-top: 15px;
    color: #ccc;

    
}

.nav1{
    font-family: Helvetica, Arial;
    margin-bottom: 35px;
    font-size: 25px;
    margin-left: 455px;
    width: 110px;
    
    transition: all 300ms;
    color: white;
    text-align: center;
}

.nav1:hover{
    box-shadow: 1px 1px 1px 1px ;
    cursor: pointer;
    background-color: rgb(79, 119, 171);
    border-radius: 10%;
 
}

#nav{
    background-color: rgb(17, 70, 138);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50px;
    color: #ccc;

}

.nav2{
    font-size: 25px;
    padding-top: 5px;
    font-family: Helvetica, Arial;
    letter-spacing: 2px;
    
}

.nav2:hover{
    cursor: pointer;
    text-decoration: underline;
    color: white;
}

#container{
    display: flex;
    flex-direction: row;
}

#articulos{
    width: 70%;
    margin-right: 20px;
}

.article{
    border: 1px solid red;
    margin-top: 15px;
    padding: 5px;
    background-color: #ccc;
}



.article h2{
    font-family: Helvetica, Arial;
    font-size: 30px;
    padding: 0;
}
.article p{
    font-family: Helvetica, Arial;
    font-size: 15px;
}

#hashtag{
    font-size: 18x;
    color: black;
    font-style: oblique;
    cursor: pointer;
  
}


#sidebar{
    width: 30%;
}

footer{
    font-family: Helvetica,Arial;
    height: 47px;
    color: white;
    background: rgba(51, 51, 51, 0.8);
    margin: 0px auto;
    width: 75%;
    margin-top: 19px;
    text-align: center;
    padding-top: 15px;
    line-height: 30px;
}