body{
    background: url(./assets/japan.jpg);
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    font-family: Helvetica, Arial;

}

a{
    text-decoration: none;
    color: white;
}


#global{
    margin: 0px auto;
    width: 90%;
    margin-top: 30px;
    background-color: white;

    padding: 25px;
    box-shadow: 0px 0px 2px #ccc;
    height: auto;
}
header{
    display: flex;
    background-color: rgb(17, 70, 138);
    flex-direction: row;
    height: 150px;
    justify-content: space-around;
   opacity: 0.9;
  
}

#logo{
    font-size: 35px;
    font-family: Verdana, Arial;
    letter-spacing: 4px;
    width: 400px;
    text-align: center;
    height: 80px;
    color: white;
    margin-bottom: 20px;
    line-height: 80px;
    text-transform: capitalize;
    width: 45%;
    margin-right: 25px;
    margin-top: 25px;
    
}

#logo:hover{
    animation: logoin 2s backwards;
    cursor: pointer;
    
}

@keyframes logoin{
    0% {
        font-size: 35px;
    }
    
    100% {
        font-size: 55px;
    }

}







#nav-arriba{
    display: flex;
    flex-direction: column;
    width: 55%;
    margin-top: 15px;
    color: #ccc;
    position: sticky;  
 
    background-color: rgb(17, 70, 138);

    
}

.nav1{
    font-family: Helvetica, Arial;
    margin-bottom: 35px;
    font-size: 25px;
    margin-left: 455px;
    width: 110px;
    
    transition: all 300ms;
    color: white;
    text-align: center;
}

.nav1:hover{
    box-shadow: 1px 1px 1px 1px ;
    cursor: pointer;
    background-color: rgb(79, 119, 171);
    border-radius: 10%;
 
}

.nav1:visited, .nav2:visited{
    color: white;
}

#nav{
    background-color: rgb(17, 70, 138);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50px;
    color: white;
    top:0%;
    position: sticky;
    height: 45px;
    padding-top: 8px;

}

.nav2{
    font-size: 25px;
    padding-top: 5px;
    font-family: Helvetica, Arial;
    letter-spacing: 2px;
    transition: all 1s ease-in ;
    
}

.nav2:hover{
    cursor: pointer;
    text-decoration: underline;
    color: white;
}

#container{
    display: flex;
    flex-direction: row;
}

#articulos{
    width: 70%;
    margin-right: 20px;
}

.article{
  
    margin-top: 15px;
    padding: 5px;
    background-color: #ccc;
}



.article h2 a{
    font-family: Helvetica, Arial;
    font-size: 30px;
    padding: 0;
    cursor: pointer;
    transition: all 500ms;
    width:90% ;
    padding-left: 10px;
    color: rgb(41, 41, 41);
}

.article h2:hover{
    color: rgb(41, 41, 41);
    text-shadow: 1px 1px #2d2d2d;
    letter-spacing: 3px;

}



.article p{
    font-family: Helvetica, Arial;
    font-size: 15px;
    padding-left: 10px;
}

.article span{
    font-size: 17px;
    color: black;
    font-style: oblique;
    cursor: pointer;
    padding-bottom: 15px;
  
}


#sidebar{
    width: 30%;
}

footer{
    font-family: Helvetica,Arial;
    height: 47px;
    color: white;
    background: rgba(51, 51, 51, 0.8);
    margin: 0px auto;
    width: 75%;
    margin-top: 19px;
    text-align: center;
    padding-top: 15px;
    line-height: 30px;
}

#theme-selector{
    width: 35px;
    height: 75px;
    background: rgba(51, 51, 51, 0.8);
    left: 0%;
    top: 50%;
    position: fixed;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}



#green, #red, #black{
    width: 28px;
    height: 45px;
    border: 1px solid white;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;

}

#green{
    background-color: rgb(85, 229, 85);
    cursor: pointer;
}

#red{
    background-color: rgb(235, 94, 94);
    cursor: pointer;

}

#black{
    background-color: black;
    cursor: pointer;

}

.foto-aside{
    width: 100%;
  
    height: 300px;
}

.quiensoy{
    text-align: center;
    margin-left: 125px;
    font-size: 22px;
}

/*FORMULARIO source:https://codepen.io/ainalem/pen/GRqPwoz  */




.form {
    background-color: rgb(17, 70, 138);
    border-radius: 20px;
    box-sizing: border-box;
    height: 500px;
    padding: 20px;
    width: 320px;
    margin-left: 35px;
    margin-top: 15px;
  
  }
  
  .title {
    color: #eee;
    font-family: sans-serif;
    font-size: 25px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 35px;
    
   
  }

  @keyframes logo2{
    0% {
        font-size: 25px;
    }
    
    100% {
        font-size: 45px;
    }


}

  .title:hover{
    animation: logo2 1s forwards;
    cursor: pointer;
   
  }
  
  .subtitle {
    color: #eee;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
  }
  
  .input-container {
    height: 50px;
    position: relative;
    width: 100%;
  }
  
  .ic1 {
    margin-top: 40px;
  }
  
  .ic2 {
    margin-top: 30px;
  }
  
  .input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
  }
  
  .cut {
    background-color: #15172b;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
  }
  
  .cut-short {
    width: 50px;
  }
  
  .input:focus ~ .cut,
  .input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
  }
  
  .placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
  }
  
    .input:focus ~ .placeholder,
  .input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
  }

  .input:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
  }

  .input:focus ~ .placeholder {
    color: #dc2f55;
  }
  .submit {
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #111111;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    outline: 0;
    text-align: center;
    width: 100%;
  }
  
  .submit:active {
    background-color: rgba(0, 103, 187, 0.493);
    color: white;
  }

  .submit:hover{
    background-color: rgb(0, 128, 234);
    
  }
  
